
  <div class="row padBot">
    <div  class="col-sm-12 text-center">
      <h4 class="colorRed">Datepicker</h4>
      <div style="display:inline-block; min-height:290px;">
      <uib-datepicker ng-model="dt" show-weeks="true" class="well well-sm" 
      custom-class="getDayClass(date, mode)"></uib-datepicker>
      </div> 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <button popover-placement="top" popover-template="'assets/partials/date.html'" type="button" 
          class="btn btn-default backPink">Click here after selecting a date</button>
      </div>
    </div>
  </div>
