<div class="text-center">      
<div class="btn-group" uib-dropdown uib-keyboard-nav>
  <button id="simple-btn-keyboard-nav" type="button" class="btn btn-danger" 
  uib-dropdown-toggle>Dropdown with keyboard navigation 
    <span class="caret"></span>
  </button>
  <ul class="uib-dropdown-menu" role="menu" 
  aria-labelledby="simple-btn-keyboard-nav">
    <li role="menuitem"><a href="#">Action</a></li>
    <li role="menuitem"><a href="#">Another action</a></li>
    <li role="menuitem"><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li role="menuitem"><a href="#">Separated link</a></li>
  </ul>
</div>    
</div>
